<!DOCTYPE html>
<html ng-app="listaTelefonica">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Lista Telefônica</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <style>
      .selecionado {
        background-color: yellow;
      }
      .negrito {
        font-weight: bold;
      }
    </style>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="lib/angular/angular-locale_pt-br.js"></script>
    <script>
      angular.module("listaTelefonica", ["ngMessages"]);
      angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope, $http) {
        $scope.app = "Lista Telefônica";
        $scope.contatos = [];
        $scope.operadoras = [];

        let carregarContatos = function () {
          $http.get("http://localhost:3000/contatos").then(function (data, status) {
            $scope.contatos = data.data;
          });
        }
        let carregarOperadoras = function () {
          $http.get("http://localhost:3000/operadoras").then(function (data, status) {
            $scope.operadoras = data.data;
          });
        }

        $scope.adicionarContato = function(contato) {
          $http({
            url: 'http://localhost:3000/contatos',
            dataType: 'json',
            method: 'POST',
            data: contato,
            headers: {
              "Content-Type": "application/json"
            }
          }).then(function (contato, status) {
            delete $scope.contato;
            $scope.contatoForm.$setPristine();
            $scope.contato = carregarContatos();
          }, function errorCallback(response) {
            console.log('object:', contato, 'response:', response);
          });
          };

        $scope.apagarContatos = function(contatos) {
          $scope.contatos = contatos.filter(function (contato) {
            if (!contato.selecionado){
              return contato;
            } else {
              $http({
                url: 'http://localhost:3000/contatos/' + contato.id,
                dataType: 'json',
                method: 'DELETE',
                headers: {
                  "Content-Type": "application/json"
                }
              }).then(function (contato, status) {
                delete $scope.contato;
                return carregarContatos();
              }, function errorCallback(response) {
                console.log('object:', contato, 'response:', response);
              });
            };
          });
        };
        $scope.isContatoSelecionado = function (contatos) {
          return contatos.some(function (contato) {
            return contato.selecionado;
          });
        };
        $scope.ordenarPor = function (campo) {
          $scope.criterioDeOrdenacao = campo;
          $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
        };

        carregarContatos();
        carregarOperadoras();
        $scope.classe1 = "selecionado";
        $scope.classe2 = "negrito";
      });
    </script>

  </head>
  <body ng-controller="listaTelefonicaCtrl">
    <main>
      <div class="jumbotron col-md-4 col-md-offset-4">
        <h2 class="text-center" ng-bind="app"></h2>
        <div class="container">
          <div class="row">
          <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?" />

            <table ng-show="contatos.length > 0" class="table">
              <tr>
                <th></th>
                <th><a href="" ng-click="ordenarPor('nome')" title="Ordenar por nome">Nome</a></th>
                <th><a href="" ng-click="ordenarPor('telefone')" title="Ordenar por telefone">Telefone</a></th>
                <th><a href="" ng-click="ordenarPor('operadora')" title="Ordenar por operadora">Operadora</a></th>
                <th></th>
              </tr>
              <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:{nome: criterioDeBusca} | orderBy: criterioDeOrdenacao:direcaoDaOrdenacao">
                <td><input type="checkbox" ng-model="contato.selecionado" />
                <td>{{ contato.nome }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.operadora.nome }}</td>
                <td><div style="width: 10px; height: 10px" ng-style="{'background-color': contato.cor}"></div></td>
              </tr>
            </table>
            <hr>
            <form name="contatoForm">
              <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-minlength="3" ng-required="true" />
              <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-minlength="9" ng-pattern="/^\d{4,5}-\d{4}$/" ng-required="true" />
              <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' (' + (operadora.preco|currency) + ')' group by operadora.categoria for operadora in operadoras">
                <option value="">Selecione uma operadora</option>
              </select>
              <br>
            </form>

              <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
                <div ng-message="required">
                  Por favor, preencha o nome!
                </div>
                <div ng-message="minlength">
                  O campo nome deve ter no mínimo 3 caracteres.
                </div>
              </div>

              <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
                Por favor, preencha o telefone!
              </div>
              <div ng-show="contatoForm.telefone.$error.minlength" class="alert alert-danger">
                O campo telefone deve ter no mínimo 9 caracteres.
              </div>
              <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
                Insira o telefone com o seguinte padrão: XXXX-XXXX ou XXXXX-XXXX.
              </div>


            <br>
            <button type="button" id="submit" class="btn btn-info" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar contato</button>
            <button type="button" id="submit" class="btn btn-danger" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar contatos</button>
          </div>
        </div>
      </div>
    </main>
    <div ng-include="'footer.html'"></div>
  </body>
</html>
